# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# copyrighted textbook PDF (keep locally; not for the remote)
source_data/Ne_dienos_be_lietuviu_kalbos_2020.pdf
/source_data/*.pdf

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
